.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-group {
  width: 60vw;
  padding: 20px;
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}




.card:hover {
  background-color: rgb(34, 34, 119);
  color: white;
}
