.app {
  text-align: center;
}

.bg {
  background: radial-gradient(circle, rgba(85,200,255,1) 0%, rgba(156,169,255,1) 50%, rgba(226,140,255,1) 100%);
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card:hover {
  transition: .3s;
  background-color: hsla(240, 56%, 30%, 0.703);
  color: white;
  transform: scale(1.1);
}

.link {
  text-decoration: none;
}

.detail-user {
  height:100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.glass-card {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.27);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}